#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.card {
    padding: 2em;
}

.wrapper {
    display: flex;
    align-items: baseline;
    border: 1px solid tomato;
    border-radius: 0.125rem;
}

.instruction {
    /* color: white; */
    text-transform: uppercase;
    font-weight: bold;
    /* margin: 0.5rem; */
    border-right: 1px solid tomato;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-family: monospace;
    font-size: xx-large;
}

.i32Box {
    background-color: salmon;
    border-radius: 0.25rem;
    border: 1px solid tomato;
    color: tomato;
    font-weight: bold;
    margin: 0.25rem;
    padding: 0.5rem;
    display: flex;
    align-items: baseline;
}

.i32Value {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background-color: white;
    border-radius: 0.25rem;
    padding: 0.25rem;
    margin: 0.25rem;
    border: 1px solid tomato;
}
